* {
  font-family: "Poppins", sans-serif;
}
.site-main .comment-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}
.button {
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #64b1f3;
  border-radius: 5px;
  color: #64b1f3;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 10px;
}
.button:hover {
  background-color: #64b1f3;
  color: white;
  border: 1px solid #64b1f3;
  cursor: pointer;
}
.author-link {
}
.site-content {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.site-content:after {
  content: " ";
  display: block;
  clear: both;
}

.content-area {
  width: 63.88889%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
}

@media only screen and (max-width: 61.063em) {
  .content-area {
    width: 97.22222%;
    float: left;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
  }
}

#secondary {
  width: 30.55556%;
  float: right;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
}

@media only screen and (max-width: 61.063em) {
  #secondary {
    width: 97.22222%;
    float: left;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
  }
}

#tertiary {
  display: none;
}

@media only screen and (max-width: 61.063em) {
  .site-content {
    margin-top: 1.38889%;
  }
}

body.error404 .site-content {
  margin-bottom: 2em;
}

body.no-max-width .site-content {
  max-width: none;
}

@media only screen and (min-width: 40.063em) and (max-width: 61.063em) {
  body.layout-one-column-narrow .site-content {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  body.layout-one-column-narrow .site-content:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@media only screen and (min-width: 61.063em) {
  body.layout-one-column-narrow .site-content {
    max-width: 66.66667%;
    margin-left: auto;
    margin-right: auto;
  }

  body.layout-one-column-narrow .site-content:after {
    content: " ";
    display: block;
    clear: both;
  }
}

.hentry {
  margin: 0 0 1.5em;
  padding: 2.5em 3.375em;
  background-color: #1c1c24;
}

.hentry h2 {
  font-family: "Poppins", sans-serif;
  font-size: 27px;
  font-weight: 600;
}

.hentry p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.hentry p:last-child {
  margin-bottom: 0;
}

.hentry:after {
  content: "";
  display: table;
  table-layout: fixed;
  clear: both;
}

.hentry span i {
  vertical-align: bottom;
  font-size: 16px;
}
.footer-copyright {
  color: #64b1f3 !important;
}
.footer-copyright a {
  color: #56cc9d !important;
}

.author-link {
  color: #56cc9d;
}

.entry-meta {
  letter-spacing: 1px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 40.063em) and (max-width: 61.063em) {
  .hentry {
    padding: 1.5em 2.375em;
  }
}

@media only screen and (max-width: 40.063em) {
  .hentry {
    padding: 1em;
  }
}

.sticky {
  display: block;
}

@media only screen and (min-width: 40.063em) {
  .sticky .entry-title {
    position: relative;
  }

  .sticky .entry-title a:before {
    font-family: genericons;
    content: "\f308";
    line-height: 1.4;
    position: absolute;
    top: 2px;
    left: -40px;
    opacity: 0.2;
  }
}

.entry-title a,
.entry-title a:visited,
.entry-title a:before {
  color: #64b1f3;
}

.entry-title a:hover,
.entry-title a:visited:hover {
  color: #f2f2f2;
}

.entry-meta {
  font-size: 90%;
  color: #686868;
}

.entry-meta .posted-date,
.entry-meta .posted-author,
.entry-meta .comments-number {
  margin-right: 1rem;
}

.entry-meta .posted-date:last-child,
.entry-meta .posted-author:last-child,
.entry-meta .comments-number:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 40.063em) {
  .entry-meta .posted-date,
  .entry-meta .posted-author,
  .entry-meta .comments-number {
    display: block;
    margin-right: 0;
  }
}

.entry-meta .posted-date:before,
.entry-meta .posted-author:before,
.entry-meta .comments-number:before {
  position: relative;
  top: 3px;
  font-family: genericons;
  font-size: 18px;
  padding-right: 2px;
}

.entry-meta .posted-date:before {
  content: "\f303";
  top: 4px;
}

.entry-meta .posted-author:before {
  content: "\f304";
}

.entry-meta .comments-number:before {
  content: "\f300";
}

@media only screen and (max-width: 40.063em) {
  .post-navigation {
    font-size: 90%;
  }
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1em 0 0;
}

.entry-content {
  margin-bottom: 1em;
}

.entry-footer {
  padding-top: 1em;
  font-size: 85%;
  color: #686868;
}

.entry-footer .entry-footer-right {
  float: right;
}

.entry-footer .cat-links,
.entry-footer .tag-links {
  display: block;
}

.site-content {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.site-content:after {
  content: " ";
  display: block;
  clear: both;
}

@media only screen and (max-width: 61.063em) {
  .site-content {
    margin-top: 1.38889%;
  }
}

body.error404 .site-content {
  margin-bottom: 2em;
}

body.no-max-width .site-content {
  max-width: none;
}

@media only screen and (min-width: 40.063em) and (max-width: 61.063em) {
  body.layout-one-column-narrow .site-content {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  body.layout-one-column-narrow .site-content:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@media only screen and (min-width: 61.063em) {
  body.layout-one-column-narrow .site-content {
    max-width: 66.66667%;
    margin-left: auto;
    margin-right: auto;
  }

  body.layout-one-column-narrow .site-content:after {
    content: " ";
    display: block;
    clear: both;
  }
}

.content-area {
  width: 63.88889%;
  float: left;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
}

@media only screen and (max-width: 61.063em) {
  .content-area {
    width: 97.22222%;
    float: left;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
  }
}

#secondary {
  width: 30.55556%;
  float: right;
  margin-left: 1.38889%;
  margin-right: 1.38889%;
}

@media only screen and (max-width: 61.063em) {
  #secondary {
    width: 97.22222%;
    float: left;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
  }
}

#tertiary {
  display: none;
}

.site-main .comment-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}
