.bmc-button {
  line-height: 35px !important;
  height: 30px !important;
  text-decoration: none !important;
  display: inline-flex !important;
  color: #ffffff !important;
  background-color: #5f7fff !important;
  border-radius: 5px !important;
  font-size: 22px !important;
  letter-spacing: 0.6px !important;
  box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  margin: 0 auto !important;
  font-family: "Cookie", cursive !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

.bmc-button:hover,
.bmc-button:active,
.bmc-button:focus {
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  text-decoration: none !important;
  box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  opacity: 0.85 !important;
  color: #ffffff !important;
}

/* #testmodal {
  border-radius: 15px;
}
#testmodal1 {
  border-radius: 15px;
} */


.mobile_name {
  font-family: "Roboto Condensed", sans-serif;
  color: #64B1F3;
  font-size: 40px;
  margin-left: 15px;
  text-align: center;
}

.mobile_name1 {
  font-family: "Roboto Condensed", sans-serif;
  color: #64B1F3;
  font-size: 40px;
  margin-left: 15px;
  text-align: center;
}

.data-modal, .data-modal1{
  font-family: 'Poppins', sans-serif;
  padding: 21px;
  word-spacing: 1px;
  line-height: 1.3;
  text-transform: uppercase;
  word-wrap: break-word;
  word-break: keep-all;
  margin-top: 60px;

}
/*77-1267*/

.modal {
  text-align:justify;
  border-right: 20px;
  width: 50%;
  height: 500px;
  overflow-y: auto;
  background-color: #1A1C28 !important;
  z-index: 99;
}

.modal_body, .modal_body1{
  margin-top: 40px;
  margin-bottom: 40px;

}

/* @media (max-width: 767px) {
  .modal {
    width: 80%;
  }
} */

.sakura {
  background-color: #121217 !important;
  color: #f3f3f3;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg");
  background-position: center;
  background-repeat: repeat;
  background-size: 7%;
  font-family: "Roboto Condensed", sans-serif !important;
}

button.primary, .changelog{
    background-color: transparent;
    border: 1px solid #64B1F3;
    border-radius: 5px;
    color: #64B1F3;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding: 10px 10px;

}
button.primary:hover{
  background-color: #64B1F3;
  color: white !important;
  border: 1px solid #64B1F3;
  cursor: pointer;
}
button.primary>a{
  color: #64B1F3;
}
button.primary>a:hover{
  color:white;
}

.my-nav > li:hover {
  padding-bottom: .2em;
  border-bottom: 0.2em solid #A5FECB;
}


.primary.ghost {
  background-color: transparent;
  border: 1px solid #64B1F3;
  border-radius: 10px;
  color: #64B1F3;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 10px;
}

.ghost:hover {
  background-color: #64B1F3;
  color: white !important;
  border: 1px solid #64B1F3;
  cursor: pointer;
}
.show-modal,.show-modal1{
  margin-left:5px;
  background-color: transparent;
  border: 1px solid #56cc9d !important;
  border-radius: 5px;
  color: #56cc9d !important;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 10px;
}
.show-modal:hover,.show-modal1:hover{
  background-color: #56cc9d !important;
  color: white !important;
  border: 1px solid #56cc9d !important;
  cursor: pointer;
}


.skills {
  text-align: left;
  padding: 15px;
}

.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  border: 1px solid #2d2747;
  border-radius: 20px;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 7px;
}

.text-sakura-muted {
  color: #e1e1e1;
}

.sakura-light-bg {
  background-color: rgba(28, 28, 36) !important;

  color: #d3d3d3;
}

.sakura-midlight-bg {
  background-color: #24242f !important;
  color: #d3d3d3;
}

.sakura-lighter-bg {
  background-color: #2d2d3a !important;
  color: #d3d3d3;
}

.text-sakura-light-muted {
  color: #c1c1c1;
}

.sakura-accent {
  color: #64b1f3 !important;
}

.sakura-accent-btn {
  color: #64b1f3 !important;
  background-color: #64b1f3;
}

.sakura-accent-btn:hover {
  color: #f3f3f3 !important;
  background-color: #ea567e;
}

nav .brand-logo > img {
  display: block;
  height: 60px;
  padding: 6px 15px;
}

@media (min-width: 768px) {
  .navbar > .container .brand-logo,
  .navbar > .container-fluid .brand-logo {
    margin-left: -15px;
  }
}

.card .card-action:last-child,
.card .card-content {
  border-radius: 0 0 10px 10px !important;
}

.card-nopadding {
  padding: 0px !important;
}

.card {
  border-radius: 10px;
}

.card .card-image img {
  border-radius: 10px 10px 0 0 !important;
}

.collapsible-noborder {
  border-top: 0px solid #000;
  border-right: 0px solid #000;
  border-left: 0px solid #000;
  border-bottom: 0px solid #000;
}

.collapsible-header {
  border-radius: 10px 10px 10px 10px !important;
}

.collapsible-header:focus {
  border-radius: 10px 10px 0 0 !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-muted {
  opacity: 0.64;
}

.parallax-container {
  height: 450px;
}

.parallax-container .parallax img {
  opacity: 0.6;
}

.parallax-main-holder {
  position: relative;
  margin-top: 18vh;
}

.btlg-intro {
  height: 450px;
}

.chlg-code {
  font-family: monospace, monospace !important;
}
input {
  color: white;
  text-align: center;
}

.official-devices {
  display: flex;
  /* gap: 20px; */
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.close-button {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 40px;
  width: 50%;
  z-index: 1;
  background-color: #0F1219;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.mobile_rating {
  width: 90%;
}
.mobile_rating1 {
  width: 90%;
}

@media (max-width: 1270px)
{
  .modal{
    width: 60%;
    height:300px;
    position: fixed;
    overflow-y: scroll;
  
  }

  .mobile_name,.mobile_name1{
    /* margin-left: 70px; */
    font-size:20px;
  }

  .data-modal, .data-modal1{
    margin-top:10px;
    font-size: 15px;
    word-wrap: break-word;
  }

  .close-button { 
    padding: 10px;
    text-align: center;
    width: 60%;
  }

  .mobile_rating {
    width: 80%;
  }

  .mobile_rating1 {
    width: 80%;
  }
 

}
@media (max-width: 993px) {

  .modal{
    width: 80%;
    height:300px;
    position: fixed;
    overflow-y: auto;
  }

  .mobile_name,.mobile_name1{
    font-size:20px;
  }

  .data-modal, .data-modal1{
    margin-top:10px;
    font-size: 10px;
    word-wrap: break-word;
  }

  .close-button { 
    padding: 10px;
    text-align: center;
    width: 80%;
  }

  .mobile_rating {
    width: 80%;
  }

  .mobile_rating1 {
    width: 80%;
  }
  
}


#containerDiv {
  position: absolute;
  display: grid;
  width: 99%;
  justify-content: center;
  border: 1px solid black;
  text-align: center;
}

#tableGame,
td {
  border: 1px solid silver;
  border-collapse: collapse;
  padding: 0px;
}

#butReset {
  float: left;
  padding: 10px;
}

#divScore {
  text-align: center;
  /* margin: 5px; */
  /* padding: 10px; */
}
@media (max-width: 567px) {

  .modal_body {
    margin-top: 160px;
  }
  .modal {
    overflow-y: scroll;
    margin: -400px auto;
  }

  .mobile_name, .mobile_name1 {
    font-size: 20px;
  }

}

@media (min-width: 0) and (max-width: 400px) {
  .material-icons.search-icon {
    position: absolute;
    left: 27px;
    top: 120px;
  }
 
}
@media (min-width: 401px) {
  .material-icons.search-icon {
    position: absolute;
    left: 27px;
    top: 95px;
  }
 
}
 .search-li:hover{
  border-bottom: 3px solid #64B1F3;
  border-radius: 0;
}


.search-input {
  text-align: left;
  text-indent: 30px;
}


.close-btn-x {
  cursor: pointer;
  background: transparent;
  color: #64B1F3;
  border: 1px solid #64b1F3;
  padding: 3px;
  margin: 1px;
  border-radius: 3px;
}

.close-btn-x:hover {
  background: #64B1F3;
  color: #fff;
}

/* custom scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

h5.white-text{
  color: #64B1F3 !important;
  cursor: default;
}

h5{
  cursor: default;
}

a.grey-text:hover{
  color: #A5FECB !important;
  cursor: pointer;
  transform: scaleY(1.2);
}

.grey-text:hover{
  color: #A5FECB !important;
  cursor: default;
}

.center-items{
  display: flex;
  justify-content: center;
  align-items: center;
}
