div,
article,
section,
header,
footer,
nav,
li {
  position: relative;
}

body {
  background: #0f111a;
  color: #ffffff;
  font-size: 100%;
  font-family: "Roboto Condensed", monospace;
}

::-moz-selection {
  background: #010101;
  color: #333;
}

::selection {
  background: #f1505a;
  color: #333;
}

.color_animation {
  animation: animate 6s linear infinite;
}

/*---------- FORMS ----------*/

input[type="text"],
input[type="submit"],
textarea {
  width: 100%;
  padding: 0.5em;
  font-size: 1em;
  margin-bottom: 1.5em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input,
button,
select,
textarea {
  font-family: "Roboto Condensed", monospace;
}

p {
  font-size: 1em;
  /* 16px */
  line-height: 1.5;
  /* 24px */
  margin: 0 0 1.5em 0;
}

ul,
ol {
  font-size: 1em;
  /* 16px */
  line-height: 1.5;
  /* 24px */
  margin: 0 0 1.5em 0;
}
.ui-btn-1
{
  text-decoration: none;
  color: #64B1F3;
  font-size: 1.2em;
}
.ui-btn-1:hover:focus:active{
  color: #56cc9d;
  background-color: #0F111A;
  border: 2px solid #56cc9d;
  padding: 2px 2px;
}
.ui-btn-2{
  text-decoration: none;
  color: #56cc9d;
  font-size: 1.2em;
}
.ui-btn-2:hover:focus:active{
  color: #64B1F3;
  background-color: #0F111A;
  border: 2px solid #64B1F3;
  padding: 2px 2px;
}


.more-link:link,
.more-link:visited {
    background-color: transparent;
    border: 1px solid #64B1F3;
    border-radius: 5px;
    color: #64B1F3;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding: 10px 10px;
    font-size: 14px;
}

.more-link:hover,
.more-link:active {
  background-color: #64B1F3;
  color: white !important;
  border: 1px solid #64B1F3;
  cursor: pointer;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  /* reset default browser weight for our webfonts */
  font-family: "Roboto Condensed", monospace;
}

h1 {
  font-size: 1.5em;
  /* 24px */
  line-height: 1;
  /* 24px */
  margin-top: 1.42em;
  margin-bottom: 0em;
}

h2 {
  font-size: 1.3125em;
  /* 21px */
  line-height: 1.1429;
  /* 24px */
  margin-top: 1.1429em;
  margin-bottom: 0em;
}

h3 {
  font-size: 1.125em;
  /* 18px */
  line-height: 1.3333;
  /* 24px */
  margin-top: 1.3333em;
  margin-bottom: 0em;
}

h4 {
  font-size: 1em;
  /* 16px */
  line-height: 1.5;
  /* 24px */
  margin-top: 1.5em;
  margin-bottom: 0em;
}

h5 {
  font-size: 0.875em;
  /* 14px */
  line-height: 1.7143;
  /* 24px */
  margin-top: 1.7143em;
  margin-bottom: 0em;
}

strong {
  font-weight: normal;
  font-family: "Roboto Condensed", monospace;
}

small {
  font-size: 0.75em;
  /* 12px */
  line-height: 2;
  /* 24px */
  margin-top: 2em;
  margin-bottom: 0em;
}

em {
  font-style: normal;
  font-family: "Roboto Condensed", monospace;
}

.features-link:link,
.features-link:visited {
  color: #ff0055;
}

/* ----------------------------------------------------------------------------------------------------------
04 Navbar ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

.navbar .brand {
  margin-left: 0;
  padding: 0;
  margin-top: 1.05em;
}

.navbar .brand a {
  padding: 0;
  color: #ffffff;
  font-size: 1.35em;
  margin-left: 0;
  font-weight: normal;
  font-family: "Roboto Condensed", monospace;
}

.navbar .brand a:hover {
  text-decoration: none;
  color: #c82428;
  transition: color 0.15s linear;
  -webkit-transition: color 0.15s linear;
  -moz-transition: color 0.15s linear;
}

.navbar .brand a:focus {
  outline: none;
}

.navbar-inner {
  min-height: 4.75em;
}

.navbar-inverse .navbar-inner {
  background-repeat: repeat;
  opacity: 0.9;
  background-color: #000000;
  /* 0b333f */
  border-color: transparent;
}

#menu-main {
  margin-top: 1.125em;
}

ul#menu-main > li > a {
  font-family: "Roboto Condensed", monospace;
  font-size: 1em;
  color: #fff;
}

ul#menu-main > li > a:hover {
  background: #212121;
  padding: 9px 15px;
  border-radius: 28px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  text-shadow: none;
}

.my-nav > li:hover {
  padding-bottom: .2em;
  border-bottom: 0.2em solid #A5FECB;
}

/* ----------------------------------------------------------------------------------------------------------
05 Single-Page Sections ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
/*
#headerwrap{
    background:url(../image/bg4.jpg) #000000 no-repeat center center;
}
*/

ul.icon {
  font-size: 54px;
  margin: 1em 0 0.5em 0;
}

ul.icon li {
  display: inline-block;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

ul.icon li:hover {
  opacity: 0.7;
}

section.single-page {
  padding: 4.75em 0;
  /* 76px */
}

section.single-page h1 {
  text-align: center;
  font-family: "Roboto Condensed", monospace;
  margin-bottom: 2em;
  /* 72px */
  font-size: 2.25em;
  /* 36px */
}

#feature {
  /* background: url("../img/yellow.png") repeat-x 0 0; */
  height: 406px;
  z-index: 500;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);
}

#feature article {
  text-align: center;
  margin-top: 120px;
  max-width: 1170px;
}

#feature-headline {
  font-family: "Roboto Condensed", monospace;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(228, 229, 229, 1);
  margin-bottom: 3%;
  /* 39px */
  margin-top: -0.25em;
  height: 109px;
  background-size: 100% auto;
}

#feature-headline span {
  font-family: "Roboto Condensed", monospace;
  text-transform: lowercase;
}

#feature article p {
  font-family: "Roboto Condensed", monospace;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 1.35;
  color: #fff;
}

/* Screenshots */

section#screenshots {
  padding-bottom: 0;
}

section#screenshots h1 {
  font-size: 3em;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

section#screenshots .align {
  text-align: center;
  margin-top: 10px;
  font-size: 6em;
}
section#screenshots .container .screenshots-container {
  display: grid;
  max-width: 1200px !important;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Features */

section#features {
  padding-bottom: 9.5em;
}

#features h1 {
  font-size: 3em;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

section#features h2 {
  font-size: 22px;
  margin-bottom: 15px;
  margin-top: 10px;
  text-align: center;
}

section#features p {
  margin: 10px;
}

section#features .align {
  text-align: center;
  margin-top: 10px;
  font-size: 6em;
}

section#features .align .sev_icon {
  text-align: center;
  margin: 10px 0 20px 0;
  font-size: 0.6em;
  color: #c82428;
}

section#features .span3 {
  background: #151515;
  padding: 20px 0;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section#features .span3:hover {
  color: #ffffff;
  background: #212121;
  -webkit-box-shadow: 2px 5px 10px -7px #FFF, -6px 1px 6px 8px rgba(0,0,0,0);
  box-shadow: 2px 5px 8px -7px #fff, -6px 1px 6px 8px rgb(0 0 0 / 0%);
  cursor: pointer;
}

.features-homepage {
  text-align : center;
}

/* Downloads */

section#downloads .align {
  font-size: 6em;
  margin-top: 10px;
  text-align: center;
  color: #ffffff;
}

article.post {
  background: #151515;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

article.post:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

article .inside {
  margin: 18px 24px 24px;
  padding-top: 1em;
  padding-bottom: 1em;
  /* background: url("../img/dot-row-2.png") repeat-x scroll 0 0 transparent !important; */
}

.post-date {
  color: #c82328;
  float: right;
  font-family: "Roboto Condensed", monospace;
  font-size: 14px;
  font-style: normal;
  line-height: 2;
  margin-right: 5px;
}

#downloads h1 {
  font-size: 3em;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

#downloads h2 {
  font-size: 21px;
  margin-top: 24px;
  margin-bottom: 16px;
  color: #ffffff;
  clear: right;
}

/* Team and Credits */

section#team,
section#credits,
section#maintainers-team {
  color: #ffffff;
  background: #010101;
}

.flat:hover{
  color: #A5FECB;
  cursor: pointer;
  text-decoration:none;
}

.pixel:hover{
  color: #64B1F3;
  cursor: pointer;
  text-decoration:none;
}

section#team .align,
section#credits .align,
section#maintainers-team .align {
  font-size: 6em;
  margin-top: 10px;
  text-align: center;
}

#team h1,
#credits h1,
#maintainers-team h1 {
  font-size: 3em;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.sponsor:hover{
  filter: hue-rotate(85deg);
}

#credits,
#team,
#maintainers-team {
  padding-top: 4.75em;
}

#team,
#maintainers-team {
  padding-bottom: 0;
}

#credits {
  padding-bottom: 0;
}

/* team */

#team h3,
#maintainers-team h3 {
  font-size: 26px;
  margin-top: 24px;
  margin-bottom: 0px;
}

#team h3,
#maintainers-team h3,
.job-position {
  text-align: center;
}

.team-thumb {
  size: 30%;
  margin-top: 26px;
  text-align: center;
}

.job-position {
  font-family: "Roboto Condensed", monospace;
  margin-bottom: 0.46155em;
}

/* Credits Form */

section#credits .featurette {
  text-align: center;
  font-size: 21px;
}

section#credits h2.featurette-heading {
  margin-bottom: 24px;
}

/* Featurettes */

hr.featurette-divider {
  margin: 3em 0;
  border-width: 0;
  height: 9px;
  /* background: url("../img/dot-row-3-lt.png") repeat-x; */
}

/* ----------------------------------------------------------------------------------------------------------
06 Footer ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

footer {
  text-align: center;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: bold;
}

footer p {
  margin-top: -130px;
}

/* ----------------------------------------------------------------------------------------------------------
07 Bootstrap Carousel ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------
08 Buttons ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

.btn {
  font-family: "Roboto Condensed", monospace;
  color: #fff;
  width: 225px;
  height: 20px;
  text-shadow: none;
  letter-spacing: 3px;
  font-size: 1.3125em;
  /* 21px */
  padding: 1em 0.25em;
  /*letter-spacing: 0.05em;*/
  margin: 1.5em auto 1.5em;
  display: block;
  border: 0;
  text-transform: none;
  background: #151515 !important;
  border-radius: 36px;
  -moz-border-radius: 36px;
  -webkit-border-radius: 36px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.btn:link,
.btn:visited {
  color: #c82428;
  font-style: bold;
}

.btn:hover {
  background: #212121 !important;
}

.navbar-inverse .btn-navbar {
  width: auto;
  height: auto;
}

.row123 {
  display: grid;
  width: 100%;
  /* align-items: center; */
  justify-content: center;
}
.row1 {
  display: flex;
  justify-content: center;
}
.row2 {
  display: flex;
  justify-content: center;
}
.row3 {
  display: flex;
  justify-content: center;
}

@media (max-width: 568px) {
  .row1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .row2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .row3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 979px) {
  .navbar-fixed-top {
    margin-bottom: 0;
  }
  .navbar .container {
    width: 100%;
  }
  .navbar .brand {
    margin-top: 0;
  }
  .navbar .btn-navbar {
    margin-top: 0;
  }
  .navbar-fixed-top .navbar-inner {
    padding: 0px;
  }
  .featurette {
    height: auto;
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  #headerwrap {
    padding-top: 0;
  }
}

@media (max-width: 767px) {
  .container {
    padding-right: 5px;
    padding-left: 5px;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .navbar-inner {
    margin: 0;
  }

  .featurette {
    font-size: 18px;
    line-height: 1.5;
  }
}

/* Smaller screens ----------- */

@media (max-width: 480px) {
  #headerwrap {
    padding-top: 0;
  }
  #headerwrap h1 {
    font-size: 2em;
  }

  #team .team-thumb {
    margin-right: auto;
    margin-left: auto;
    width: 150px;
    display: block;
    text-align: center;
  }
  #feature article p {
    font-family: "Roboto Condensed", monospace;
    font-size: 26px;
    /* font-size: 26px; */
    margin-bottom: 0;
    line-height: 30px;
    font-weight: bold;
    color: #fff;
  }
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  section.single-page {
    padding: 1em 0;
  }
  /* Feature */

  /* Screenshots & Downloads */
  #downloads h1 {
    background: transparent;
  }
  #screenshots .container {
    top: 0 !important;
  }
  #feature article p {
    font-family: "Roboto Condensed", monospace;
    font-size: 26px;
    /* font-size: 26px; */
    margin-bottom: 0;
    font-weight: bold;
    line-height: 30px;
    color: #fff;
  }

  section#screenshots hgroup h2 {
    margin-top: 1.5em;
  }
  /* Features */
  #features h1 {
    background: transparent;
  }
  section#features h2 {
    margin-bottom: 0.25em;
  }
  section#features h2,
  section#features ul {
    text-align: center;
  }
  /* Testimonials */

  /* team */
  #team .team-thumb {
    margin-right: auto;
    margin-left: auto;
    width: 150px;
    display: block;
    text-align: center;
  }
  .job-position {
    margin-bottom: 1.5em;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Smartphones (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #feature p {
    font-family: "Roboto Condensed", monospace;
    font-size: 26px;
    /* font-size: 26px; */
    margin-bottom: 0;
    line-height: 30px;
    font-weight: bold;
    color: #fff;
  }
}

@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

/* CSS will be required after complete upgrade from v2.3 to v4.5 Bootstrap */

.img-circle {
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    height: 50%;
    width: 50%;
}
