.applic-apps{
    overflow: hidden;
    position: relative;
    z-index: 0;
    // info
    .single-cases-info{
        position: relative;
        left: 58%;
        margin-top: 72px;
        @media #{$laptop}{
            margin-top: 72px;
            left: 33%;
        }
        @media #{$lg}{
            left: 38%;
            margin-top: 0px;
        }
        @media #{$md}{
            left: 17%;
            margin-top: 40px;
        }
        @media #{$sm}{
            left: 1%;
            margin-top: 20px;
        }
        @media #{$xs}{
            left: 1%;
            margin-top: 10px;
        }
        & h3{
            color: $heading_color;
            font-size: 40px;
            font-weight: 700;
            line-height: 1.3;
            margin-bottom: 20px;
            padding-right: 30px;
            @media #{$xs}{
                font-size: 30px;
            }

        }
        & p{
            margin-bottom: 50px;
            padding-right: 224px;
            @media #{$laptop}{
                padding-right: 0px;
            }
            @media #{$lg}{
                margin-bottom: 20px;
                padding-right: 26px;
            }
            @media #{$md}{
                margin-bottom: 20px;
                padding-right: 26px;
            }
            @media #{$xs}{
                margin-bottom: 20px;
                padding-right: 0px;
            }
        }
    }
    // single img and content
  
}

// OWL
.applic-apps{
    // completed-cases
    .owl-carousel .owl-stage-outer {
        overflow: visible;
    }
    .no-js .owl-carousel, .owl-carousel.owl-loaded {
        overflow: hidden;
        position: relative;
        right: -14%;
        @media #{$md}{
            right: 0%;
        }
        @media #{$xs}{
            right: 0%;
        }
        @media #{$sm}{
            right: 0%;
        }
    }

    .owl-carousel .owl-item img {
        display: block;
        width: 100%;
    }
}


