.available-app-area{
    position: relative;
    padding-top: 220px;
    padding-bottom: 220px;
    @extend %available-app;
    @media #{$lg}{
        padding-top: 150px;
        padding-bottom: 150px;   
    }
    @media #{$md}{
        padding-top: 100px;
        padding-bottom: 100px;   
    } 
    
    @media #{$sm}{
        padding-top: 100px;
        padding-bottom: 100px;   
    }    
    @media #{$xs}{
        padding-top: 100px;
        padding-bottom: 100px;   
    }
    .app-caption{
        .section-tittle3{
            h2{
                color: #fff;
                margin-bottom: 35px;
                font-weight: 600;
            }
        }
        p{
            color: #fff;
            padding-right: 52px;
            padding-bottom: 26px;
        }
        .app-btn{
            .app-btn1{
                padding-right: 15px;
            }
             .app-btn2{
                @media #{$xs}{
                    display: block;
                    padding-top: 10px;
                }
            }
        }
        
    }
    .app-img{
        position: relative;
        right: -88px;
        @media #{$big_screen}{
            right: 0px;
        } 
        @media #{$lg}{
            top: 45px;
            right: 0;
        }
        @media #{$md}{
            top: 45px;
            right: 0;
        }
        @media #{$sm}{
            top: 45px;
            right: 0;
        } 
        @media #{$xs}{
            top: 45px;
            right: 0;
        }

        img{
            width: 100%;
        }
    }
    // Shape
    .app-shape{
        .app-shape-top{
            position: absolute;
            top:100px;
            left:125px;
        }
        .app-shape-left{
            position: absolute;
            left: 0;
            bottom: 0;
        }
        .app-shape-right{
            position: absolute;
            right: 252px;
            top: 208px;
            @media #{$big_screen}{
                display: none !important;
            } 
            @media #{$lg}{
                display: none !important;
            } 
            @media #{$md}{
                display: none !important;
            }   
            @media #{$sm}{
                display: none !important;
            }
            @media #{$xs}{
                display: none !important;
            }
        }
    }
}

// say-something-aera
.say-something-aera{
    position: relative;
    border-bottom: 1px solid #ffc9fd;
    .say-something-cap{
        h2{
            font-size: 50px;
            font-weight: 700;
            line-height: 1.2;
            color: #282828;
            @media #{$lg}{
                font-size: 41px;
            } 
            @media #{$md}{
                margin-bottom: 25px;
                
            } 
            @media #{$sm}{
                margin-bottom: 25px;
                font-size: 41px;
            } 
            @media #{$xs}{
                margin-bottom: 25px;
                font-size: 30px;
            }

        }
    }
    .say-shape{
        .say-shape1{
            position: absolute;
            left: -99px;
            bottom: -140px;
            @media #{$big_screen}{
                left: -134px;
                bottom: -215px;
            }
        }
        .say-shape2{
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}