.best-pricing{
    position: relative;
    &.pricing-padding{
        padding-top: 110px;
        padding-bottom: 280px;
    
        background-size: cover;
        background-repeat: no-repeat;
        
    } 
    &.pricing-padding2{
        padding-top: 300px;
        padding-bottom: 280px;  
        @media #{$lg}{
            padding-top: 300px;
            padding-bottom: 280px;  
		}
		@media #{$md}{
            padding-top: 160px;  
		}
		@media #{$sm}{
            padding-top: 160px;  
		}
		@media #{$xs}{
            padding-top: 160px;  
		}

    }

    &::before{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        content: "";
        @extend %bestPrince;
        opacity: 0.95;
    }
    &.best-pricing2{
        &::before{
           display: none;
        }
    }
}

.pricing-card-area{
    margin-top: -295px;
    .single-card{
        position: relative;
        background: #fff;
        padding: 40px 25px;
        border-radius: 6px;
        box-shadow: 0px 0px 9px 0px rgba(131, 93, 248, 0.07);
        @include transition(.4s);
        &::before{
            background-image: url(../img/gallery/card_dot.png);
            content: "";
            width: 171px;
            height: 134px;
            position: absolute;
            right: 2px;
            bottom: 2px;
            z-index: -1;
            @include transition(.4s);
            @media #{$xs}{
                display: none;
            }
        }
        .card-top{
            border-bottom: 2px solid#f4f4f4;
            margin-bottom: 46px;
            span{
                color: #57667e;
                font-size: 24px;
                margin-bottom: 19px;
                display: inline-block;
            }
            h4{
                color:#6a56a6;
                font-size: 50px;
                font-weight: 500;
                margin-bottom: 26px;
                padding-right: 3px;
                font-family: $font_2;
                span{
                    color: #6a56a6;
                    font-size: 16px;
                }
            }
        }
        .card-bottom{
            ul{
                li{
                    color:#717081;
                    font-weight: 300;
                    margin-bottom: 16px;
                    font-size: 16px;
                    &:last-child{
                        margin-bottom: 45px;
                    }
                }
            }
        }
        // Active
        &.active{
            box-shadow: 0px 10px 30px 0px rgba(133, 66, 189, 0.1);
            &::before{
                right: -20px;
                bottom: -21px;
            }
            .btn::before{
                transform: scaleX(1);
                color: #fff !important;
                z-index: -1;
        
            }
        }
            // hover
        &:hover{
            box-shadow: 0px 10px 30px 0px rgba(133, 66, 189, 0.1);
            &::before{
                right: -20px;
                bottom: -21px;
            }
            .btn::before{
                transform: scaleX(1);
                color: #fff !important;
                z-index: -1;

            }
        }
    }


}


// Section Tittle-2

.section-tittle2{
    h2{
        color: #fff;
    }
    
}