.best-features-area{
    position: relative;
    .single-features{
        display: flex;
        @media #{$xs}{
            margin-bottom: 30px;
        }
        .features-icon{
            span{
                position: relative;
                color:#fff;
                font-size: 30px;
                height: 67px;
                width: 67px;
                display: block;
                line-height: 67px;
                border-radius: 50%;
                text-align: center;
                background-image: -moz-linear-gradient( 90deg, rgb(231,138,233) 0%, rgb(146,110,248) 100%);
                background-image: -webkit-linear-gradient( 90deg, rgb(231,138,233) 0%, rgb(146,110,248) 100%);
                background-image: -ms-linear-gradient( 90deg, rgb(231,138,233) 0%, rgb(146,110,248) 100%);
            }
        }
        .features-caption{
            padding-left: 19px;
            h3{
                font-size: 24px;
                font-weight: 600;
                line-height: 1.2;
                margin-bottom: 10px;
                color: #23182c;
            }
            p{
                @media #{$md}{
                    font-size: 15px;
                } 
                 @media #{$md}{
                    font-size: 15px;
                } 
                @media #{$xs}{
                    font-size: 13px;
                }
            }
        }
    }
    // Shape
    .features-shpae{
        position: absolute;
        left: 30px;
        top: 100px;
        &.features-shpae2{
            top: 300px;
            @media #{$large_device}{
                top: 246px !important;
                transform: translateY(0);
            }
            @media #{$lg}{
                top: 300px;
            }          
              @media #{$md}{
                top: 300px;
            }


        }
        @media #{$hero}{
            top: 50%;
            transform: translateY(-50%);
        }
        img{
            max-width: 80%;
            @media #{$xs}{

            }
            @media #{$large_device}{
                max-width: 70%;
            }  
             @media #{$hero}{
                max-width: 50%;
                top: 50%;
            } 
             @media #{$lg}{
                display: none !important;
            }
        }
    }
}




