.footer-area{

    .footer-logo{
        margin-bottom:30px;
    }
    .footer-pera{
         .info1{
            margin-bottom: 10px;
            line-height: 1.8;
        } .info2{
            margin-bottom: 50px;
            line-height: 1.8;
        }
        &.footer-pera2 p{
            padding: 0;
        }
    }
    .footer-tittle{
        & h4{
            color:#000;
            font-size: 18px;
            margin-bottom: 48px;
            font-weight: 700;
        }
        & ul{
            & li{
                color: #012f5f;
                margin-bottom: 15px;
                & a{
                    color: #868c98;
                    font-weight: 300;
                    &:hover{
                        color: $theme-color;
                        padding-left: 5px;
                    }
                   
                }
            }
        }
    }
    
    .footer-form{
        margin-top: 40px;
        & form{
            position: relative;
            & input{
                width: 100%;
                height: 43px;
                padding: 10px 20px;
                border: 1px solid #fff;
                background: #f9f9fe;
            }
            & .form-icon{
                & button{
                    position: absolute;
                    top: 1px;
                    right: 0;
                    background: none;
                    border: 0;
                    cursor: pointer;
                    padding: 11px 22px;
                    background:$theme-color;
                    line-height: 1;
                }
            }
        }
    }
    .info.error {
        color:  $theme-color;
    }
    .footer-social{
        & a{
            width: 40px;
            height: 40px;
            font-size: 14px;
            border: 1px solid#fafafa;
            background:#fafafa;
            display: inline-block;
            line-height: 40px;
            text-align: center;
            color:#949eb2;
            margin-right: 5px;
            @include transition(.4s);
           
        }
    }
    // Copy Right 
    .footer-copy-right{
        padding-top: 20px;
        @media #{$xs}{
            padding-top: 0px;
        }
        & p{
            color: #888888;
            font-weight: 300;
            font-size: 16px;
            line-height: 2;
            margin-bottom: 12px;
            & i{
                color:#f9218d;
            }
            & a{
                color: #f9218d;
                &:hover{
                   color: $theme-color;
                }
                 
            }
        }
    }
}
.footer-social{
   a:hover {
    background: $theme-color;
    i{
        color: #fff;
        @include transition(.4s);
    }
    }
}

