.our-customer{
        .our-customer-wrapper{
            padding: 0 134px;
            @media #{$lg}{
                padding: 0 0px;
            }
            @media #{$md}{
                padding: 0 0px;
            }
            @media #{$xs}{
                padding: 0 0px;
            }
        }
        .single-customer{
            position: relative;
            margin-left: 15px;
            margin-right: 15px;
            box-shadow: 0px 0px 9px 0px rgba(131, 93, 248, 0.07);
            background: #ffff;
            padding: 55px 34px 55px 44px;
            @media #{$xs}{
               padding: 55px 29px 55px 34px;
            }
            .what-img{
                margin-bottom: 20px;
            }
            .what-cap{
                h4{
                    a{
                        font-size: 20px;
                        color: #712fda;
                        margin-bottom: 20px;
                        @media #{$xs}{
                            font-size: 17px;
                            
                        }
                        &:hover{
                            color: $theme-color;
                        }
                    }
                }
                p{
                    @media #{$xs}{
                        font-size: 15px;
                        
                    }
                }
            }
        }
        // Slick Arrow
        .slick-arrow {
            background: none;
            border: none;
            position: absolute;
            bottom: -87px;
            text-align: center;
            left: 0;
            right: -85px;
            margin: auto;
            font-size: 46px;
            cursor: pointer;
            color: #ff0b0b;
            @include transition(.4s);
          
        } 
        .slick-prev.slick-arrow {
            transform: rotate(180deg);
            left: -172px;
            color: #ddd;
            &:hover{
                color: red;
            }
        }

    // Dot Style
    .dot-style .slick-dots {
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .dot-style .slick-dots li {
        display:inline-block
    }
    .dot-style .slick-dots button {
        text-indent: -100000px;
        height: 10px;
        width: 10px;
        border: 0;
        padding: 0;
        margin-right: 8px;
        cursor: pointer;
        border-radius: 50%;
        background:
        #f9d8e0;
    }
    .dot-style .slick-list {
        margin-left:-15px;
        margin-right:-15px
    }
    .dot-style .slick-active button {
        background: #ec5252;
        height: 16px;
        width: 16px;
        padding-top: 2px;
    }
}


// Active Sldie Opacity
    .single-customer.slick-slide {
        opacity: .3;
    }
    .single-customer.slick-slide.slick-current {
        opacity: 1;
    }
