// section Tittle
.section-tittle{
    & h2{
        font-size: 50px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 90px;
        @media #{$xs}{
			font-size: 30px;
            line-height: 1.3;
        }
        @media #{$lg}{
			font-size: 40px;
		}
    }
}


.service-area {
    .services-caption{
        background: #fff;
        padding:84px 45px 56px;
        border: 1px solid transparent;
        border-radius: 7px;
        @include transition(.5s);
        @media #{$lg}{
            padding: 84px 25px 56px;
        }
        .service-icon{
            display: inline-block;
            position: relative;
            &::before{
                background-image: url(../img/shape/dot-bg.png);
                content: "";
                width: 80px;
                height: 135px;
                position: absolute;
                right: -29px;
                top: -35px;
                z-index: 0;
                @include transition(.5s);
            }
            span{
                position: relative;
                color: #fff;
                font-size: 40px;
                height: 105px;
                width: 105px;
                display: block;
                line-height: 105px;
                border-radius: 50%;
                text-align: center;
                background:#e88cea;
                margin-bottom: 42px;
                @include transition(.5s);

            }
        }
        .service-cap{
            h4{
                a{
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 1.2;
                    margin-bottom: 27px;
                    display: inline-block;
                    &:hover{
                        color:#835ef8;
                    }
                }
            }
            p{

            }
        }
    }
}
// hover
.services-caption:hover {
    border: 1px solid#b8a2ff;
    .service-icon {
        &::before{
            right: -32px;
        }
        span{
            background:#835ef8;
        }
    }
}

// Active
.services-caption.active{
    border: 1px solid#b8a2ff;
    .service-icon {
        &::before{
            right: -32px;
        }
        span{
            background:#835ef8;
        }
    }
}
